/*Home Page*/

/* Reset default styles and set box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Example media query for smaller screens */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    body {
        font-size: 14px;
    }

    /* Adjust other elements as needed */
}

/* Body styles */
body {
    /* Set body properties */
    min-height: 100vh;
    font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
	color: #000;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Header styles */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Logo styles */
.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

/* Navigation link styles */
.navigation a {
    position: relative;
    font-size: 1.4em;
    color: white;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s;
}

/* Navigation link hover and active styles */
.navigation a:hover,
.navigation a.active {
    color: black;
}

/* Navigation link hover effect background */
.navigation a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30px;
    z-index: -1;
    transform: scale(0);
    opacity: 0;
    transition: .5s;
}

.navigation a:hover span,
.navigation a.active span {
    transform: scale(1);
    opacity: 1;
}


*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* Snow animation styles */
.snow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Text over snow animation */
#text {
    position: absolute;
    font-size: 5em;
    color: rgb(255, 255, 255);
}

/* Snow animation container */
.snow_wrap{
	height: 100vh;
	width: 100%;
	background:url('Images/Home/mountain_view_dark.jpg');
	background-size: cover;
	background-position: center bottom; 
	overflow: hidden;
	position: relative;
}



/* Snowflakes for animation */
.snow, .snow:before, .snow:after {
  position: absolute;
  top: -650px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: 
  radial-gradient(4px 4px at 100px 50px, #fff , transparent), 
  radial-gradient(6px 6px at 200px 150px, #fff, transparent), 
  radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent), 
  radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent), 
  radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent), 
  radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent), 
  radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent), 
  radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent), 
  radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
  background-size: 650px 650px;
  animation: snow 4s linear infinite;
  content: "";
}

/* Snowflakes for animation */
.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 6s;
  animation-direction: reverse;
}

/* Snowflakes for animation */
.snow:before {
	margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 9s;
  animation-direction: reverse;
}

/* Keyframes for snow animation */
@keyframes snow {
  to {
    transform: translateY(650px);
  }
}

/* Centered text styles */
.centered-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Centered text content styles */
.centered-text p {
    font-size: 90px;
    font-weight: bold;
    color: #ffffff; 
}

/* Centered text styles */
.center-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Centered text content styles */
.center-text p1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff; 
}

/* Footer styles */
.footer {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: -85%;
    left: 0;
    right: 0;
}

/* Gallery Thumbnails */
.gallery-thumbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    max-width: 100%;
    height: auto;
}

/* White box overlay */ 
.white-box {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 800px; 
    width: 60%; 
}

/* Heading styles */
.heading {
    text-align: center;
}



/*Kākāpo*/


/* Kākāpo Container styles for page 2 */
.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
}

/* Keyframes for background animation in container */
@keyframes animate {
    0%,100%{
        background-image: url(Images/Kākāpo/bunk_room.jpg);
    }
    50%{
        background-image: url(Images/Kākāpo/cabin_view.jpg);
    }
    75%{
        background-image: url(Images/Kākāpo/hallway.jpg);
    }
}

/* Card styles */
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
 }
 
 /* Card container styles */
 .card-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 50%;
 }
 
 /* Card face styles */
 .card .face {
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     border-radius: 10px;
     overflow: hidden;
     transition: .5s;
 }
 
 /* Card front styles */
 .card .front {
     transform: perspective(600px) rotateY(0deg);
     box-shadow: 0 5px 10px #000;
 }
 
 /* Card front image styles */
 .card .front img {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 /* Card front heading styles */
 .card .front h3 {
     bottom: 0;
     position: absolute;
     width: 100%;
     height: 45px;
     line-height: 45px;
     color: white;
     background: rgba(0,0,0,0.4);
     text-align: center;
 }
 
 /* Card back styles */
 .card .back {
     transform: perspective(600px) rotateY(180deg);
     background: rgb(3,35,54);
     padding: 15px;
     color: #f3f3f3;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     text-align: center;
 }
 
 /* Card back heading styles */
 .card .back h3 {
     font-size: 30px;
     margin-top: 20px;
     letter-spacing: 2px;
     text-align: center;
 }
 
 /* Card back paragraph styles */
 .card .back p {
     letter-spacing: 1px;
     text-align: center;
 }
 
 /* Card hover styles */
 .card:hover .front {
     transform: perspective(600px) rotateY(180deg);
 }
 
 /* Card hover styles */
 .card:hover .back {
     transform: perspective(600px) rotateY(360deg);
 }




/* Kererū /*

/* Kererū Container styles for page 3 */
.container1 {
 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate1 16s ease-in-out infinite;
    background-size: cover;
}

/* Keyframes for background animation in container1 */
@keyframes animate1 {
    0%,100%{
        background-image: url(Images/Kererū/adult_bedroom.jpg);
    }
    50%{
        background-image: url(Images/Kererū/cabin_exterior.jpg);
    }
    75%{
        background-image: url(Images/Kererū/kids_bedroom.jpg);
    }
    95%{
        background-image: url(Images/Kererū/kitchen.jpg);
    }
}

/* Footer styles for Kererū page */
.footer1 {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
}

/* Card styles for Kererū page */
.card1 {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card container styles for Kererū page */
.card-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50%;
}

/* Card face styles for Kererū page */

.card1 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

/* Card front styles for Kererū page */

.card1 .front1 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

/* Card front image styles for Kererū page */

.card1 .front1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card front heading styles for Kererū page */

.card1 .front1 h3 {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0,0,0,0.4);
    text-align: center;
}

/* Card back styles for Kererū page */
.card1 .back1 {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3,35,54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* Card back heading styles for Kererū page */
.card1 .back1 h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

/* Card back paragraph styles for Kererū page */
.card1 .back1 p {
    letter-spacing: 1px;

}

/* Card hover styles for Kererū page */
.card1:hover .front1 {
    transform: perspective(600px) rotateY(180deg);
}

/* Card hover styles for Kererū page */
.card1:hover .back1 {
    transform: perspective(600px) rotateY(360deg);
}




/* Pūkeko*/

/* Pūkeko Container styles for page 4 */
.container2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate2 16s ease-in-out infinite;
    background-size: cover;
}

/* Keyframes for background animation in container2 */
@keyframes animate2 {
    0%,100%{
        background-image: url(Images/Pūkeko/adult_bedroom.jpg);
    }
    50%{
        background-image: url(Images/Pūkeko/bathroom.jpg);
    }
    75%{
        background-image: url(Images/Pūkeko/chalet_exterior.jpg);
    }
    95%{
        background-image: url(Images/Pūkeko/chalet_view.jpg);
    }
}

/* Card styles for Pūkeko page */

.card2 {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card container styles for Pūkeko page */
.card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50%;
}

/* Card face styles for Pūkeko page */
.card2 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

/* Card front styles for Pūkeko page */
.card2 .front2 {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

/* Card front image styles for Pūkeko page */
.card2 .front2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card front heading styles for Pūkeko page */
.card2 .front2 h3 {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    background: rgba(0,0,0,0.4);
    text-align: center;
}

/* Card back styles for Pūkeko page */
.card2 .back2 {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3,35,54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* Card back heading styles for Pūkeko page */
.card2 .back2 h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

/* Card back paragraph styles for Pūkeko page */
.card2 .back2 p {
    letter-spacing: 1px;
}

/* Card hover styles for Pūkeko page */
.card2:hover .front2 {
    transform: perspective(600px) rotateY(180deg);
}

/* Card hover styles for Pūkeko page */
.card2:hover .back2 {
    transform: perspective(600px) rotateY(360deg);
}

/* Sign Up Page*/

/* Background image styles for Sign Up Page */
.Image {
    background-image: url('Images/Home/mountain view.jpg');
    background-size: cover;
    background-position: center top; 
    width: 100%;
    height: 65vh; 
    margin-bottom: 20%;
  }
  
  
/* Middle text styles for Sign Up Page */
.middle-text {
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin-top: 15%;
    font-size: 40px;
    font-weight: bold;
}


/* Sign up form styles */
.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10%;
    background-color: white;
}

/* Sign up form label styles */
  .signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Sign up form input styles */
  .signup-form input[type="text"],
  .signup-form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Sign up form button styles */
  .signup-form button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styles for Sign Up Page */
.footer2 {
    background-color: #333;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: -44%;
    left: 0;
    right: 0;
}

/* Snow animation styles */
.snow1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  /* Snow animation container styles */
  .snow_wrap1 {
    height: 131vh;
    width: 100%;
    background: url('Images/Home/mountain_view_1.jpg');
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
    position: relative;
    z-index: 1; 
  }
  
  /* Snowflakes styles for snow animation */
  .snow1, .snow1:before, .snow1:after {
    position: absolute;
    top: -650px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: 
      radial-gradient(4px 4px at 100px 50px, #fff , transparent), 
      radial-gradient(6px 6px at 200px 150px, #fff, transparent), 
      radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent), 
      radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent), 
      radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent), 
      radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent), 
      radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent), 
      radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent), 
      radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
    background-size: 650px 650px;
    animation: snow 4s linear infinite;
    content: "";
  }
  
  /* Additional snowflakes styles for snow animation */
  .snow1:after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-duration: 6s;
    animation-direction: reverse;
  }
  
  /* Additional snowflakes styles for snow animation */
  .snow1:before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 9s;
    animation-direction: reverse;
  }
  
  /* Keyframes for snow animation */
  @keyframes snow {
    to {
      transform: translateY(650px);
    }
  }

  /* Making the Sign up sheet usable*/
  .middle-text, .signup-form, .text1 {
    position: relative;
    z-index: 2; 
}
